<div class="right_col" id="body_event" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <h3>뉴스
                        <button class="btn btn-success pull-right" data-toggle="modal" data-target="#registerNews">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;
                            등록
                        </button>
                    </h3>
                </div>

                <div class="row">
                    {{#each result}}
                    <div class="col-md-6">
                        <div class="thumbnail" style="height: 100%">
                            <img src="https://holdemclub.s3.ap-northeast-2.amazonaws.com/news/{{thumbnail}}" width="535" height="300" alt="{{title}}" style="width:535px; height: 300px;" />
                            <div class="caption center-block">
                                <h3>{{title}}</h3>
                                <strong>{{desc}}</strong>
                                {{#if active}}
                                    <button class="btn btn-warning btn-block btn-lg btn_news_active" data-news-id="{{id}}" data-active="0"><i class="fa fa-minus-circle" aria-hidden="true"></i>&nbsp;&nbsp;비활성화</button>
                                {{else}}
                                    <button class="btn btn-info btn-block btn-lg btn_news_active" data-news-id="{{id}}" data-active="1"><i class="fa fa-minus-circle" aria-hidden="true"></i>&nbsp;&nbsp;활성화</button>
                                {{/if}}
                                <button class="btn btn-danger btn-block btn-lg btn_news_delete"
                                        data-news-id="{{id}}">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>&nbsp;삭제
                                </button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>

{{>modal_news_register}}